<nav class="navbar navbar-expand-md navbar-light">
  <div class="container-fluid">

    <!--Logo-->
    <a class="navbar-brand text-light" href="">
      <img id="logoComputer" [src]="imgLogoComputer" width="60" height="60">
      <img id="logoMovil" [src]="imgLogoMovil" width="60" height="60">
    </a>
    <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!--Nav Items-->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav float-end">
        <li [routerLink]="item.router" routerLinkActive="router-link-active" class="nav-item"
          *ngFor="let item of mainMenu">
          <a id="item-nav" class="nav-link active text-light" aria-current="page">- {{ item.name }}</a>
        </li>
        <li class="nav-item">
          <a id="item-nav" class="nav-link active text-light" aria-current="page" target="_blank" href="https://github.com/ing-italog?tab=repositories">-GitHub</a>
        </li>
      </ul>
    </div>

  </div>
</nav>