nav{
  background-color: var(--color-2);
}
#logoMovil{
  display: none;      
}

#btn-lang{
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}

a:hover{
    background-color: gray;
    border-radius: 6px;
  }

@media (min-width: 1100px) {
    #item-nav{
      margin-left: 150px;
    }
}

@media (max-width: 1100px) {
    #item-nav{
      margin-left: 100px;
    }
    #btn-lang{
      margin-right: 0px;
    }
}
@media (max-width: 900px) {
  nav{
    background-color: var(--color-4);
  } 
  #logoComputer{
     display: none;      
  }
  #logoMovil{
    display: inline;      
  }
  #btn-lang{
    margin-right: -110px;
    right: 0px;
  }
}