<div  class="container">
    <div id="about-footer" class="row py-5">
        <div class="col-sm text-light">
            <p>{{"about.footerLocation" | translate}}</p>

        </div>
        <div class="col-sm text-light">
            <P>{{"services.textEmail" | translate}}: alberto.villamil.1997@gmail.com</P>                        
            <P>WhatsApp: (+57) 313 845 6818</P>                        

        </div>
        <div class="col-sm text-light">
            <p>{{"about.footerDesined" | translate}}</p>
            <p>{{footerPower}} <a target="_blank" href="https://angular.io/">Angular</a> & <a target="_blank"
                    href="https://getbootstrap.com/">BootStrap</a></p>

        </div>
    </div>
</div>