div{
    background-color: var(--color-2);
}
#img-movil{
    display: none;
}

@media (max-width: 900px) {
    #img-computer{
        display: none;
    }
    #img-movil{
        display: block;
    }
    div{
        background-color: var(--color-4);
    }
  }