/* You can add global styles to this file, and also import other style files */
:root{
    --color-1: rgb(217, 217, 217);
    --color-2: black;/*rgb(1, 22, 37)*/
}

body{
    background-color: var(--color-2);
}
